* {
    background-color: #2A1536;
}

@media (width > 744px) {
    #btnBack {
        width: 90px;
        height: 90px;
        border-radius: 100%;
    }

    #backimg{
        border-radius: 100%;
        width: 90px;
        height: 90px;
    }

    #p1{
        font-size: 40px;
        font-weight: 800;
        margin-left: 25%;
        color: #ffff;
        margin-top: -20%;
    }

    .navlist {
        display: flex;
        margin-left: 8%;
    }
    
    .navlist a {
        color: #ffff;
        font-weight: 500;
        padding: 10px 20px;
    }
    
    .navlist a:hover {
        color: var(--hover-color);
        text-shadow: 0 0 10px rgba(18, 247, 255, 0.6),
            0 0 20px rgba(18, 247, 255, 0.6),
            0 0 30px rgba(18, 247, 255, 0.6),
            0 0 40px rgba(18, 247, 255, 0.6),
            0 0 70px rgba(18, 247, 255, 0.6),
            0 0 80px rgba(18, 247, 255, 0.6),
            0 0 100px rgba(18, 247, 255, 0.6),
            0 0 150px rgba(18, 247, 255, 0.6);
        ;
    }

    hr {
        color:#ffff; /* Color of the line */
        background-color: #ffff; /* Color of the line in old browsers */
        height: 5px; /* Thickness of the line */
        border: none; /* Remove default border */
    }

    #table{
        color: #ffff;
    }
}